@font-face {
    font-family: "miller-textroman";
    src: url("../fonts/miller-TextRoman-kopi.otf") format("truetype");
  }

  @font-face {
    font-family: "arquitecta";
    src: url("../fonts/arquitecta-kopi.otf") format("truetype");
  }

  body{
    font-family: miller-textroman; 
    margin: 0;
    max-width: 479px;
    margin: 0 auto;
    background-color:#FFFFFF;
    padding: 20px;
    margin-bottom: 60px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    font-weight:bold;
    color: #000000;
    margin: 0;
}

h3 {
    font-size: 30px;
    color: #000000;
    font-family: "arquitecta";
}

p {
    font-size: 16px;
    font-weight:300;
    margin: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

.filter-text {
    font-size: 20px;
    font-weight: 300;
    margin: 0;

}

/* NAVBAR */

.nav-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-around;
    align-items: flex-end;
    padding: 15px 0;
    width: 100%;
    flex-shrink: 0;
    border-top: #000000 solid 1px;
    z-index: 2;
}

    .nav-tab {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .nav-icon {
            height: 26px;
            margin-bottom: 5px;
        }

/* Generel styling til logoet */
.logo {
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    text-align: center;
  }
  
  .logo img {
    width: 200px; 
    height: auto;
  }

 /* Styling specifikt til mobilversionen */
@media (max-width: 768px) {
  .logo {
    top: 20px; 
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .image-container img {
    width: 100%; 
    margin-bottom: 10px;
  }

  .image-container a {
    width: 100%;
  }
}

/* Generel styling til forsiden af billederne */
.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 100px;
}

.image-container img {
  width: 100%;
  height: auto;
}



/* Generel styling til forsiden af kræftforskning */
  .square {
    width: 100%;
    height: 300px; 
    background-color: #835582;
    text-align: center; 
    color: white; 
    font-size: 100px;
    font-family: miller-textroman;
    padding-top: 20px; 
  }
  .square p.større {
    font-size: 24px;
    font-weight: bold;
  }

  .square p.mindre-undertekst {
    font-style: arquitecta;
    font-family: arquitecta;
    margin-top: 40px;
    font-size: 16px;
    color: #FFFFFF
    
  }

  .square button {
    background-color: black; 
    color: white; 
    padding: 10px 20px; 
    font-size: 18px; 
    border: none; 
    border-radius: 4px;
    font-family: arquitecta;
  }

  /* Generel styling til dame-undersiden */
header {
  background-color: #FFFFFF;
  color: #000000;
  padding: 20px;
}

.header-content {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .header-content::-webkit-scrollbar {
    display: none; /* Til Chrome, Safari og Opera */
  }


.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  display: inline-block;
  margin-right: 10px;
}

.nav-menu li a {
  color: #000000;
  text-decoration: none;
}

.content-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .full-width-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .image-text {
    background-color: rgba(0, 0, 0, 0);
    color: #707070;
    padding: 20px;
    margin-top: -10px;
    font-family: arquitecta;
    font-size: 10px;
  }

  .container {
    max-width: 100%;
    padding: 20px;
    cursor: pointer;
  }
  
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-link {
    margin: 0 10px;
}

.image-link img {
    width: 120px;
    height: auto;
}


  
  .my-heading {
    font-size: 30px;
    font-family: "miller-textroman";
    text-align: center;
    font-weight: bold;
    color: #000000

  }

  .containerto {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.neye20 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "miller-textroman";
}

.images-container {
  display: flex;
  justify-content: center;
}

.images-container img {
  width: 50%;
  margin: 0 10px;
}

 .containertre {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}
.kontainer {
  text-align: center;
}

.populaere {
  font-family: "miller-textroman";
  font-size: 30px;
  padding-top: 30px;
}

.image-gallery {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.image-gallery::-webkit-scrollbar {
  display: none;
}

.image-box {
  flex: 0 0 calc(100% / 3);
  scroll-snap-align: start;
  margin-right: 10px; 
}

.image-box:last-child {
  margin-right: 0; 
}

.image-box img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.image-text {
  font-family: arquitecta;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  padding: 10px;
}

.image-text-line {
  font-size: 14px;
  font-weight: normal;
  margin-top: 0px;
  text-align: center;
}

.image-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  text-align: center;
}

.image-text-line-crossover {
  text-decoration: line-through;
  font-family: arquitecta;
  font-weight: bold;
  display: inline;
}

.image-text-line-price {
  text-decoration: none;
  display: inline;
  margin-left: 5px;
  font-family: arquitecta;
  font-weight: bold;
  color: #de737a;
}

.image-text-line-price-black {
  text-decoration: none;
  margin-left: 5px;
  font-family: arquitecta;
  font-weight: bold;
  color: #000000;
}


  .custom-container {
    text-align: center;
  }
  
  .custom-image-gallery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: -2px;
  }
  
  .custom-image-box {
    flex-basis: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-image-box img {
    height: auto;
    cursor: pointer;
    width: 219px;
    margin: 0px;
  }

.containerfire {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    width: 200%;
    text-align: center;
    width: 100%;
  }

  .containerfem {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
  }

  /* Generel styling til herre-undersiden */

  .content-tainer {
    text-align: center;
  }
  
  .maaneden {
    font-family: "miller-textroman";
    font-size: 30px;
    padding-top: 30px;
  }
  
  .image-tainer {
    margin-top: 20px;
  }
  
  .full-width-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

    /* Generel styling til skuldertaske-undersiden */
    .container-skuldertaske {
      font-family: miller-textroman;
      margin: 0;
      max-width: 479px;
      margin: 0 auto;
      padding: 20px;
      margin-bottom: 60px;
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Opdateret til at have 2 kolonner */
      grid-gap: 20px;
  }

  .back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .back-button img {
    width: 40px;
  }
  
  .image-contain {
    font-family: miller-textroman;
    margin: 0;
    max-width: 479px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 60px;
}

.image-pair {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image-skuldertaske {
    flex-basis: calc(50% - 10px); 
    margin-bottom: 20px;
}

.image-skuldertaske img {
    width: 100%;
    height: auto;
}

.show-more-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

.show-more-button {
  width: 300px;
  height: 40px;
  border:none;
  border-radius:4px;
  cursor: pointer;
  font-size: 16px;
  background-color: #9AA1A6;
  color: #FFFFFF;
  margin-top: -150px;
  border-radius: 0;
}

.show-vis-button {
  width: 300px;
  height: 40px;
  border:none;
  border-radius:4px;
  cursor: pointer;
  font-size: 16px;
  background-color: #9AA1A6;
  color: #FFFFFF;
  margin-top: -150px;
  border-radius: 0;
  margin-left: 80px;
}

/*Anna's styling af hendes javascript*/
.slider{ 
  width: 450px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.slidestart{ 
  width: 450%;
  height: 460px;
  display: flex;
}

.slidestart input{ 
  display: none;
}


.slide{ 
  width: 20%;
  transition: 2s;  /* forandrer hastigheden på transition af funktionen */
}

.slide img{ 
  width: 450px;
  height: 450px;

}

/*css for selve manual slide navigation*/

.navigation-manual{ 
  position: absolute;
  width: 450px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{ 
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s; /* hvor hurtih knappen bliver sort*/
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: black;
} 

#radio1:checked ~ .first{
  margin-left: 0;
} 

#radio2:checked ~ .first{
  margin-left: -20%;
} 

#radio3:checked ~ .first{
  margin-left: -40%;
} 

#radio4:checked ~ .first{
  margin-left: -60%;
} 

#radio5:checked ~ .first{
  margin-left: -80%;
} 


/*css for automatisk navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 450px;
  justify-content: center;
  margin-top: 420px;
} 

.navigation-auto div{
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  transition: 2s; 
} 

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: black;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: black;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: black;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: black;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
  background: black;
}

/*Ønskeliste knap*/
.wishlist-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.wishlist-icon {
  width: 43px;
  height: 36px;
  background: url("../images/like.svg") no-repeat center center;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.wishlist-icon.clicked {
  background: url("../images/like-aktiv.svg") no-repeat center center;
  background-size: cover;
}

.tilbage-button {
  width: 43px;
  height: 36px;
  background: url("../images/tilbage-knap.svg") no-repeat center center;
  cursor: pointer;
 border: none;
  background-color: transparent;
  margin-right: 350px; 
}

.text-kontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Juster afstanden efter behov */
  text-align: center;
  margin-right: 15px;
}

.big-text {
  font-size: 25px;
  margin-right: 10px; /* Juster margenen efter behov */
  margin-bottom: 5px; /* Juster afstanden mellem big-text og small-text */
  font-family: "miller-textroman";
}

.small-text {
  font-size: 15px;
  font-style: "arquitecta";
  font-family: "arquitecta";
}

.tekst-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px; /* Juster afstanden efter behov */
}

.line {
  font-style: "arquitecta";
  font-family: "arquitecta";
  margin-bottom: 10px; /* Juster afstanden mellem linjerne efter behov */
}
.line2 {
  margin-bottom: 10px;
  color: #707070; 
  font-style: "arquitecta";
  font-family: "arquitecta";
}

.bold-text {
  font-weight: bold;
  
}

.price {
font-size: 10px;
color: #707070;
font-style: "arquitecta";
font-family: "arquitecta";
}

.pris {
  font-size: 25px;
  font-style: "arquitecta";
  font-family: "arquitecta";
  margin-top: 20px;
}

.billede-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Juster margen efter behov */
}

.add-to-cart {
  width: 253px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  font-style: "arquitecta";
  font-family: "arquitecta";
  margin-top: 60px;
}

.kraft-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; /* Juster margen efter behov */
}

.kraft-container img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.cancertekst {
  font-size: 12px;
  font-weight: normal;
  color: #707070;
  font-family: "arquitecta";
}

.gennemstreget-pris {
  text-decoration: line-through;
  font-size: 25px;
  font-style: "arquitecta";
  font-family: "arquitecta";
  margin-top: 20px;
}

.ny-pris {
  font-weight: bold;
  color: #DF7B81;
  font-size: 25px;
  font-style: "arquitecta";
  font-family: "arquitecta";
  margin-top: 20px;
}

/*Profil side*/

.sekundaerlogo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  text-align: center;
}
.sekundaerlogo img {
  width: 200px;
  height: auto;
}
.linje {
  width: 101.5%;
  margin-bottom: -20px;
  padding-top: 100px;
}
.linjeet {
  width: 101.5%;
  margin-bottom: 15px;
}

.linjetre {
  width: 101.5%;
}

.minprofil {
font-size: 30px;
font-family: arquitecta;
text-align: center;
}
.profilliste {
  font-size: 30px;
  font-family: arquitecta;
  text-align: left;
  color:#000000;
}
.medlemskort {
  left: 50%;
  margin-top: -5px;
  padding-left: 15%;
}

.search-field {
  width: 100%;
  height: 46px;
  border-radius: 20px;
  border: 1px solid #00454E;
  background-color: #FFFFFF;
  background-image: url(../images/searchicon.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px 5px;
  text-indent: 40px;
  font-size: 18px;
  color: #000000;
  margin-bottom: 20px;
  font-family: "arquitecta";
}
/* kategorier */

.kategori {
width: 100%;
margin-bottom:20px;
}
.kategori-img {
height: 140px;
width: 100%;
object-fit: cover;
vertical-align: bottom;
}




